* {
  padding: 0;
  margin: 0;
  font-family: 'Lato'; }

.container {
  width: 85%;
  margin: auto; }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header {
  background-color: #ffffff; }

.header-menu {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 9999; }

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }

.header-menu figure {
  align-self: center; }

.logo-img {
  padding-right: 20px;
  width: 40px;
  height: 40px; }

.logo-text {
  font-size: 50px;
  text-decoration: none;
  color: #313332; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

ul.grt-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.grt-menu li {
  padding: 30px 0px;
  list-style: none;
  border-left: 1px solid #C1C1C3; }

.menu:nth-last-of-type(1) {
  border-right: 1px solid #C1C1C3; }

.grt-menu a {
  padding: 30px 30px;
  text-decoration: none;
  color: #313332; }

.grt-menu li:hover {
  background-color: #E6B706; }

.grt-menu a:hover {
  color: #F1F3EE;
  font-weight: bold; }

.grt-mobile-button {
  display: none; }

.grt-mobile-button:focus {
  border: 0;
  outline: 0; }

ul.grt-menu:after {
  content: "";
  clear: both;
  display: block; }

ul.grt-menu li {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s; }

ul.grt-menu li a {
  box-shadow: inset 0 0 0 0 #FFF;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
  position: relative; }

ul.grt-menu li.active a:after {
  position: absolute;
  bottom: 1px;
  content: "";
  left: 2px;
  right: 2px;
  border-bottom: 2px solid #E6B706; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Desktop only style */
@media (min-width: 768px) {
  ul.grt-menu li a:hover {
    color: #FFF; } }
/* Tablet only style */
@media (min-width: 768px) and (max-width: 991px) {
  ul.grt-menu li a {
    font-size: 18px; } }
/* Mobile only style */
@media (max-width: 767px) {
  .menu:nth-last-of-type(1) {
    border-right: none; }

  .grt-mobile-button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    background: #FFF;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    width: 35px; }

  .grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    display: block; }

  ul.grt-menu {
    display: none;
    margin: 0;
    height: 0; }

  ul.open-grt-menu {
    position: fixed;
    background: #FFF;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    float: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2; }

  .grt-mobile-button-open {
    position: fixed;
    z-index: 99999;
    right: 25px;
    top: 25px; }

  .grt-mobile-button-open .line1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 5px);
    transform: rotate(-45deg) translate(-8px, 5px); }

  .grt-mobile-button-open .line2 {
    opacity: 0; }

  .grt-mobile-button-open .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px); }

  ul.grt-menu li {
    padding: 5px 0px;
    display: block;
    line-height: 3.5em; }

  ul.grt-menu li a {
    padding: 1px 10px;
    font-size: 25px; } }
.banner {
  background-image: url("img/ilu.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 565px; }

.banner .slogan {
  padding: 30px 0px 0px 40px;
  background-color: #313332;
  opacity: 0.9;
  width: 500px;
  height: 150px; }

.slogan-text {
  color: #F1F3EE;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: lighter; }

.slogan-text-add {
  font-weight: bold; }

.grup-title {
  padding-top: 3rem;
  text-align: center;
  border: 0px;
  background-image: url("img/grup.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 150px;
  color: #F1F3EE; }

.grup-title h1 {
  font-weight: bold;
  font-size: 30px; }

.grup-title p {
  font-size: 20px; }

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #313332; }

.items-content {
  margin: 20px; }

.items-content h2 {
  font-size: 27px;
  font-weight: bold;
  padding: 10px; }

.items-content p {
  color: #a0a0a0;
  font-size: 16px; }

.slider {
  background-image: url("img/slider.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 600px;
  max-height: 100%;
  padding-top: 4rem; }

.slider-main {
  color: #313332;
  padding: 50px;
  text-align: center; }

.slider-main p {
  font-weight: bold; }

.slider-main h1 {
  font-size: 30px;
  font-weight: bold; }

#carrusel {
  align-self: center;
  margin: 0px auto;
  width: 82%;
  overflow: hidden;
  height: 203px;
  position: relative;
  margin-top: 80px; }

.left-arrow {
  position: absolute;
  left: 30px;
  z-index: 1;
  top: 50%;
  margin-top: -9px; }

.right-arrow {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 50%;
  margin-top: -9px; }

.carrusel {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0; }

.carrusel > div {
  float: left;
  height: 403px;
  margin-right: 20px;
  width: 315px;
  text-align: center; }

.carrusel img {
  cursor: pointer;
  width: 315px;
  height: 180px; }

.product {
  border: #CCCCCC 1px solid; }

.product p {
  margin: 0px;
  padding: 0px 8px;
  color: #F1F3EE;
  background-color: #313332;
  opacity: 0.9;
  font-weight: lighter;
  filter: alpha(opacity=30); }

.story {
  margin: 100px;
  text-align: center; }

.story-scua {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center; }

.story-items {
  width: 315px;
  height: 180px;
  margin: 10px; }

.story-items .story-content {
  background-color: #BABCBE;
  opacity: 0.2;
  cursor: pointer;
  width: 315px;
  height: 180px; }

.story-items p {
  padding: 8px 8px;
  color: #F1F3EE;
  background-color: #E6B706;
  opacity: 0.9;
  font-weight: bold; }

.skys {
  margin-top: 30px;
  background-image: url("img/inverse.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 450px; }

.skys-circles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

.content-circle {
  margin: 150px 20px 20px 20px;
  text-align: center; }

.circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #F1F3EE; }

.in-circle {
  background: #E6B706;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold; }

.in-circle p {
  font-size: 30px;
  margin: 25%;
  color: #F1F3EE; }

.content-circle .circle-title {
  margin-top: 20px;
  color: #F1F3EE;
  font-size: 30px; }

.footer {
  padding-top: 60px;
  background-color: #313332;
  opacity: 100;
  color: #F1F3EE;
  width: 100%;
  height: 200px; }

.footer-sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.footer-section {
  width: 300px;
  height: 50px;
  padding: 20px; }

.footer-section li, p {
  padding-top: 20px; }

.footer-section li {
  list-style: none; }

.footer-section li a {
  color: #F1F3EE; }

/*# sourceMappingURL=styles.css.map */
